.header{
    
    display:flex;
    padding-inline: initial;
    background-color: green;
    text-align: center;
    padding-left: 32%;
}

.logoname{
    text-align: center;
    padding-top: 80px;
}

.logoimage{

    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 20%;
    
}
.image{
    text-align: center;
    border-radius: 50%;
}

.content{
 
    align-items: center;
    border-radius: 20%;
    
    margin-left: 20px;
    margin-right: 20px;
    
    width: 250px;
    height: 250px;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.background{
    background:pink;
    /*margin-left: 3%;
    margin-right: 3%;*/
    align-items: center;
}